In [ ]:
from app import db
from app.models import *
import pandas as pd

In [ ]:
u = User(username = 'seb', email = 's@email.com')

In [ ]:
p = Prediction(
    game_id = 64,
    team1 = 'BRA',
    team2 = 'POR',
    goals1 = 0,
    goals2 = 1,
    winner = 'BRA',
    user_id = 1928
)
p

In [ ]:
g = Game(
    utc_time= '11/28/2022 19:00',
    team1 = 'ECU',
    team2 = 'QAT',
    group = 'A',
    location = 'Lusail',
    stage = 'group',
    cell1 = 'W15',
    cell2 = 'V15',
)
g

In [ ]:
db.session.add(u)
db.session.commit()

# Chapter 5

In [ ]:
from werkzeug.security import generate_password_hash, check_password_hash
hash = generate_password_hash('foobar')
check_password_hash(hash,'foobar')

In [ ]:
from app.models import *
# u = User(username='susan', email='susan@example.com')
u.set_password('pswd')
u.check_password('pswd')

# File Upload

In [ ]:
from app import db
from app.models import *
import pandas as pd 
from app.utility_functions import read_group_stage_bracket
filename = 'Quiniela Prueba Seb.xlsx'
read_group_stage_bracket(filename)

In [ ]:

cols = ['match_id', 'team1', 'team2', 'team1_prediction', 'team2_prediction', 'stage']
df = pd.read_excel(filename,sheet_name='Resumen', usecols = cols)
df = df.loc[df['stage'] == 'group']

u = User.query.filter_by(username = 'meme').first()

if Prediction.query.filter_by(user_id = u.user_id, stage = 'group').first() is not None:
    Prediction.query.filter_by(user_id = u.user_id, stage = 'group').delete()
    
for match_id, team1, team2, goals1, goals2, stage in zip(df['match_id'], df['team1'], df['team2'], df['team1_prediction'], df['team2_prediction'], df['stage']):
    g = Prediction(game_id = match_id, team1 = team1, team2 = team2, goals1 = goals1, goals2 = goals2, user_id = u.user_id, stage = stage)
    # print(f'Adding: {g.pred_id}')
    db.session.add(g)
db.session.commit()
try:
    db.session.commit()
    print('Added predictions successfully.')
except:
    db.session.rollback()
    print(f'Rolled back session')

In [ ]:
from app.models import Goleador
def reset_table(Table):
    for item in Table.query.all():
        db.session.delete(item)
        
    db.session.commit()
    print('deleted requested table')

reset_table(Goleador)

In [ ]:
db.session.rollback()

In [ ]:
Prediction.query.filter_by(user_id = u.user_id, stage = 'group').first()

In [ ]:
Prediction.query.filter_by(user_id = 1).first().team1

In [ ]:
from app import db
from app.models import *
import pandas as pd 
from app.utility_functions import read_group_stage_bracket
filename = 'Quiniela test.xlsx'
df = pd.read_excel(filename,sheet_name='Goleador - Top Scorer')
goleador = df['Goleador del mundial  / Top Scorer'].values[0]

In [ ]:
from app.models import Goleador

g = Goleador(prediction = goleador,user_id = 1)
g = Goleador(prediction = goleador,user_id = 1)
db.session.add(g)
db.session.commit()

In [ ]:
from app import db 
from app.models import Goleador
goleador = 'Ronaldo'
g = Goleador(prediction = goleador,user_id = 1)
db.session.add(g)
db.session.commit()

In [ ]:

def read_goleador(xlsx_file):
    
    USER_ID = 1
    
    df = pd.read_excel(xlsx_file,sheet_name='Goleador - Top Scorer')
    goleador = df['Goleador del mundial  / Top Scorer'].values[0]

    # check if goleador is already in db 
    if Goleador.query.filter_by(user_id = USER_ID).first() is not None:
        Goleador.query.filter_by(user_id = USER_ID).delete()
    # add goleador to db
    g = Goleador(prediction = goleador,user_id = USER_ID)
    db.session.add(g)
    try:
        db.session.commit()
        print(f'Added goleador successfully for {USER_ID}')
        return 'Added predictions successfully.'
    except:
        db.session.rollback()
        print('Could not add goleador, please try again.')
        return 'Could not add predictions, please try again.'
    
read_goleador('Quiniela test.xlsx')

In [1]:
from app import app, db
from app.models import *
import pandas as pd
from app.utility_functions import GROUPS, GAMES_IN_GROUP

df = pd.read_excel('Quiniela test.xlsx',sheet_name='Resumen')
df.loc[df['group'] == 'H']

,match_id,date,team1,team2,group,time,location,stage,fixture_cell1,fixture_cell2,team1_prediction,team2_prediction
13,14,2022-11-24,URU,KOR,H,16:00:00,Education City Stadium,group,X18,Z18,4.0,0.0
14,15,2022-11-24,POR,GHA,H,19:00:00,Stadium 974,group,X20,Z20,5.0,3.0
29,30,2022-11-28,KOR,GHA,H,16:00:00,Education City Stadium,group,X22,Z22,4.0,2.0
31,32,2022-11-28,POR,URU,H,22:00:00,Lusail Stadium,group,X24,Z24,3.0,5.0
44,45,2022-12-02,GHA,URU,H,18:00:00,Al Janoub Stadium,group,X28,Z28,0.0,5.0
45,46,2022-12-02,KOR,POR,H,18:00:00,Education City Stadium,group,X26,Z26,0.0,1.0

In [2]:
GAMES_IN_GROUP

{'A': [1, 2, 18, 19, 35, 36],
 'B': [3, 4, 17, 20, 33, 34],
 'C': [7, 8, 22, 24, 39, 40],
 'D': [5, 6, 21, 23, 37, 38],
 'E': [10, 11, 25, 28, 43, 44],
 'F': [9, 12, 26, 27, 41, 42],
 'G': [13, 16, 29, 31, 47, 48],
 'H': [14, 15, 30, 32, 45, 46]}